.sdlc-container-alt.position-relative
  .table-container
    %table.sdlc-table
      %tr
        - Gitlab::Homepage::Stage.all!.select{|stage| stage.marketing}.each do |stage|
          %td.stage-container
            %a{href: "/stages-devops-lifecycle/#{stage.key}/", :"data-ga-name" => "#{stage.key}", :"data-ga-location" => "body"}
              = partial "/includes/icons/sdlc-icons/#{stage.key}.svg"
            %a{href: "/stages-devops-lifecycle/#{stage.key}/", :"data-ga-name" => "#{stage.key}", :"data-ga-location" => "body"}
              %p #{stage.display_name}

      %tr.single-application-row
        - Gitlab::Homepage::Stage.all!.select{|stage| stage.marketing}.each do |stage|
          %td.solutions-container
            %a.gitlab-logo-container{href: "/stages-devops-lifecycle/#{stage.key}/", :"data-ga-name" => "#{stage.key}", :"data-ga-location" => "body"}
              .devops-tool-tooltip
                %p.tooltip-text
                  GitLab
                .tooltip-carat
              = image_tag "/images/devops-tools/gitlab-logo.svg", class: "gitlab-logo", alt: "Gitlab logo svg", loading: 'lazy'

      %tr.single-application-row
        -# sorry had to hardcode this.
        -# note the statement in the separate-application-row:
        -# if devops_tool.name != "GitHub" && ...
        -# to update these hardcoded values, see the css sections below.
        - Gitlab::Homepage::Stage.all!.select{|stage| stage.marketing}.each do |stage|
          %td.solutions-container{ id: "#{stage.key}-devops-tools-container" }
            %a.devops-tool-logo-container.github-logo-container{href: "/devops-tools/github-vs-gitlab/", :"data-ga-name" => "github-vs-gitlab", :"data-ga-location" => "body"}
              .devops-tool-tooltip
                %p.tooltip-text
                  Compare GitHub to GitLab
                .tooltip-carat
              = image_tag "/images/devops-tools/github-logo.svg", class: "devops-tool-logo github-logo", alt: "GitHub logo svg", loading: 'lazy'
        :css
          #configure-devops-tools-container .github-logo-container,
          #monitor-devops-tools-container .github-logo-container,
          #protect-devops-tools-container .github-logo-container
          {
            display: none;
          }

      %tr.single-application-row
        - Gitlab::Homepage::Stage.all!.select{|stage| stage.marketing}.each do |stage|
          %td.solutions-container{ id: "#{stage.key}-devops-tools-container" }
            %a.devops-tool-logo-container.azure-devops-logo-container{href: "/devops-tools/azure-devops-vs-gitlab/", :"data-ga-name" => "azure-devops-vs-gitlab", :"data-ga-location" => "body"}
              .devops-tool-tooltip
                %p.tooltip-text
                  Compare Azure DevOps to GitLab
                .tooltip-carat
              = image_tag "/images/devops-tools/azure-devops-logo.png", class: "devops-tool-logo azure-devops-logo", alt: "Azure DevOps logo png", loading: 'lazy'
        :css
          #manage-devops-tools-container .azure-devops-logo-container,
          #configure-devops-tools-container .azure-devops-logo-container,
          #monitor-devops-tools-container .azure-devops-logo-container
          {
            display: none;
          }

      %tr.separate-application-row
        - Gitlab::Homepage::Stage.all!.select{|stage| stage.marketing}.each do |stage|
          %td.devops-tools-container{ id: "#{stage.key}-devops-tools-container" }
            - stage.devops_tools.each do |devops_tool|
              - if devops_tool.name != "GitHub" && devops_tool.name != "Azure DevOps"
                %a.devops-tool-logo-container{ href: "/devops-tools/#{devops_tool.key.dup.tr('_', '-')}-vs-gitlab/", :"data-ga-name" => "#{devops_tool.key.dup.tr('_', '-')}-vs-gitlab", :"data-ga-location" => "body" }
                  .devops-tool-tooltip
                    %p.tooltip-text
                      Compare
                      = devops_tool.name
                      to GitLab
                    .tooltip-carat
                  = image_tag "#{devops_tool.logo}", class: "devops-tool-logo", alt: "#{devops_tool.name} logo png", loading: 'lazy'

  %p.text-center.color-gray.font-small.margin-top10
    * Depending on use case. GitLab does not claim to contain all the functionality of all the tools listed
  %p.text-center.color-gray.font-small
    %em
      Git is a trademark of Software Freedom Conservancy and our use of 'GitLab' is under license. All other logos and trademarks are the logos and trademarks of their respective owners.
  .btn-group.margin-top20
    %a.btn.cta-btn.accent.see-all-comparisons{ href: '/devops-tools/', :"data-ga-name" => "compare devops tools" '', :"data-ga-location" => "footer"  } See and compare all DevOps tools
