.column
  .title
    Join us on a webinar
  .description
    Collaboration made easy from anywhere in the world
  = link_to "Register now", "why/simplify-collaboration-with-version-control/", class: "webinar-button margin-top10 cta-btn"
  .description.opacity05
    Learn how managing source code and other assets in a single application enables teams to implement best practice workflows
